@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 1200px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a,
i {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


/* código css para a imagem de fundo*/

img {
    max-width: 200%;
    max-height: 200%;
    position: absolute;
    top: 118%;
    left: 55%;
}

.cat {
    height: 300px;
    width: 300px;
}


/* css para o agrupamento*/

fieldset {
    border: 0;
}


/* Elementos com o ID "titulo" */

#titulo {
    font-family: "Open Sans" sans-serif;
    color: #380B61;
    margin-left: 2%;
}

#check {
    display: inline-block;
}


/* Elemento de tag <body> */

body {
    background-color: #F0F8FF;
    font-family: "Open Sans" sans-serif;
    font-size: 1em;
    color: #59429d;
    text-align: justify;
    justify-content: left;
}


/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */

label,
input,
select,
textarea,
button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
    margin-left: 2%;
}


/* Elementos de classe "campo" */

#campo {
    margin-bottom: 1em;
}


/* Elementos de classe "campo" de tag <label> */

.campo label {
    margin-bottom: 0.5em;
    color: #59429d;
    display: block;
}


/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */

fieldset.grupo .campo {
    float: left;
    margin-right: 1em;
}


/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/

.campo input[type="text"],
.campo input[type="time"],
.campo input[type="date"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}


/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
    background: #E0E0F8;
}


/* Elemento de classe "botao" */

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-left: 2%;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%)
}


/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */

.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}


/* Elementos de classe botão e de tag <select> */

.botao,
select {
    cursor: pointer;
}
